<a href="https://colab.research.google.com/github/svetlichnayazm-debug/ubiquitous-lamp/blob/main/%D0%9A%D0%BE%D0%BF%D0%B8%D1%8F_%D0%B1%D0%BB%D0%BE%D0%BA%D0%BD%D0%BE%D1%82%D0%B0_%22Untitled10_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Задание 1

In [ ]:
print("Hello Word")

Hello Word

Задание 2

In [ ]:
print("4","8","15","16","23","42°C")

4 8 15 16 23 42°C

Задание 3

In [ ]:
print('*')
print('**')
print('***')
print('****')
print('*****')
print('******')
print('*******')

*
**
***
****
*****
******
*******

Задание 4

In [ ]:
print('Отчет о доходах')
print('1 квартал: 1200000 руб.')
print('2 квартал: 1350000 руб.')
print('3 квартал: 1280000 руб.')
print('4 квартал: 1420000 руб.')

Отчет о доходах
1 квартал: 1200000 руб.
2 квартал: 1350000 руб.
3 квартал: 1280000 руб.
4 квартал: 1420000 руб.

Задание 5

In [ ]:
patient_name = input()
print('Добро пожаловатьв команду,',patient_name,'!')

Влад
Добро пожаловатьв команду, Влад !

Задание 6

In [ ]:
name=input()
print(name,"-","лидер рынка","!")

ВТБ
ВТБ - лидер рынка !

Задание 7

Задание 8

In [ ]:
name=input()
line=input()
cols=input()
print(name)
print(line)
print(cols)

Sales Q1
1000
8
Sales Q1
1000
8

Заданмк 8

In [ ]:
report3=input()
report2=input()
report1=input()
print(report3)
print(report2)
print(report1)

Отчет за март
Отчет за февраль
Отчет за январь
Отчет за март
Отчет за февраль
Отчет за январь

Задание 9

In [ ]:
new_price=100*1.2
delta=20
print(new_price)
print(delta)

120.0
20

Задание 10

In [ ]:
print("Северный***Центральный***Южный")

Северный***Центральный***Южный

Задание 11

In [ ]:
input=("Влад!")
print("Подключение установлено.Добро пожаловать,Влад!")

Подключение установлено.Добро пожаловать,Влад!

Задание12

In [ ]:

input=("name_ product 1")
input=("name_ product 2")
input=("name_product 3")
print('Молоко',end= '|')
print('Сыр',end='|')
print("Хлеб")

Молоко|Сыр|Хлеб

Задание 13

In [ ]:
str_num = "42.7"
float_num=float(str_num)
integer_num=int(float_num)
print(integer_part)

42

Задание14

In [ ]:
plan = 20
orders_yesterday = 10
deviation1 = abs(orders_yesterday-plan)
print(deviation1)

10

Задание 15

In [ ]:
a=int(input())
b=int(input())
c=int(input())
d=int(input())
e=int(input())

minimum=min(a,b,c,d,e)
maximum=max(a,b,c,d,e)
print('Наименьшее число=',minimum)
print('Наибольшее число=',maximum)

1
2
3
4
5
Наименьшее число= 1
Наибольшее число= 5

Задание 16

In [ ]:
name=input()
name=input()
print("Привет,Антон Иванов! Вы только что начали изучать Python. ")

Антон
Иванов
Привет,Антон Иванов! Вы только что начали изучать Python.

Задание 17

In [ ]:
input("<«Каждый в этой стране должен научиться программировать, ")
input("потому что это учит думать.»")
print("<Каждый в этой стране должен научиться программировать, потому что это учит думать.>" )

<«Каждый в этой стране должен научиться программировать,
потому что это учит думать.»
<Каждый в этой стране должен научиться программировать, потому что это учит думать.>

Задвние 18

In [ ]:
amount=int(input())
print(amount>1000)

999
False

Задание 19

In [ ]:
age = int(input("Введите возраст: "))
if age < 16:
    print("False")
elif age >=18:
    print("True")
else:
    print("False")

Введите возраст: 16
False

In [ ]:
inp=int(input("Введите возраст:"))
print( inp <=16 and inp >=18)

Введите возраст:16
False

Задание 20

In [ ]:
# Ввод данных
S = float(input("Введите объём данных между потоками (МБ): "))
V1 = float(input("Введите скорость первого потока (МБ/ч): "))
V2 = float(input("Введите скорость второго потока (МБ/ч): "))
time = S / (V1 + V2)
print (float(time))

Введите объём данных между потоками (МБ): 500
Введите скорость первого потока (МБ/ч): 50
Введите скорость второго потока (МБ/ч): 70
4.166666666666667

Задание 21

In [ ]:
a=float(input("Введите длину первого катета:"))
b=float(input("Введите длину второго катета:"))
S= (a*b)/2
print(float(S))

Введите длину первого катета:443
Введите длину второго катета:390
86385.0

Задание 22

In [ ]:
F=float(input("Введите действительное числр градусов:"))
C=5/9*(F-32)
print(float(C))

Введите действительное числр градусов:450.55
232.5277777777778

Заданме 23

Задание1

In [ ]:
 password1 = input("Введите пароль")
 password2 = input("Подтвердите пароль")
if password1 == password2:
  print("Пароль принят")
else:
   print("Пароли не совпадают")

Введите пароль qwerty
Подтвердите пароль qwerty
Пароль принят

Задание2

In [ ]:
age = int(input("Возраст пользователя"))
if age >= 18: print("Доступ разрешен")
else: print("Доступ запрещен")

Возраст пользователя16
Доступ запрещен

Задание3

In [ ]:
num1 = int(input(11))
num2 = int(input(8))
if num1 < num2: print(num1)
else: print(num2)

11 11
8 8
8

Задание 4

In [ ]:
a = int(input())
b = int(input())
c = int(input())
if b - a == c - b: print("Да")
else: print("Нет")

1
2
3
Да

Задание 5

In [ ]:
sum_positive = 0
num1 = int(input())
num2 = int(input())
num3 = int(input())
if num1 > 0:
    sum_positive += num1
if num2 > 0:
    sum_positive += num2
if num3 > 0:
    sum_positive += num3
print(sum_positive)

5
4
3
12

Задание 6

In [ ]:
a = int(input())
b = int(input())
c = int(input())
d = int(input())
minimum = a
if b < minimum:
    minimum = b
if c < minimum:
    minimum = c
if d < minimum:
    minimum = d
print(minimum)

5
4
8
1
1

Задание 7

In [ ]:
x=int(input("Введите год:"))
if (x % 4 == 0 and x % 100 != 0)  or (x % 400 == 0): print ("Да")
else: print("Нет")

Введите год:2020
Да

Задание 8

In [ ]:
a = int(input())
b = int(input())
c = int(input())
if (a > b and a < c) or (a < b and a > c): middle =a
elif (b > a and b < c) or (b < a and b > c):middle = b
else: middle = c
print(middle)

1
2
3
2

Задание 9

In [ ]:
for i in range(10) :
    print ("войти в IT с Python")

войти в IT с Python
войти в IT с Python
войти в IT с Python
войти в IT с Python
войти в IT с Python
войти в IT с Python
войти в IT с Python
войти в IT с Python
войти в IT с Python
войти в IT с Python

Задание 10

In [ ]:
n=int(input())
for _ in range(n):
    print("*" * 19)

2
*******************
*******************

Задание 11

In [ ]:
x = input()
for i in range(10):
 print(i,x)

epoche
0 epoche
1 epoche
2 epoche
3 epoche
4 epoche
5 epoche
6 epoche
7 epoche
8 epoche
9 epoche

 Задание 12

In [ ]:
n=int(input())
f1=0
f2=1
for i in range(0, n):
   f1,f2=f2, f1+f2
   print(f1,end=' ')

7
1 1 2 3 5 8 13

Задание 13

In [ ]:
n=int(input())
factorial = 1
for i in range(1, n + 1):
    factorial *= i
    print(factorial)

1
1

Задание 14

In [ ]:
n=input()
while n != 'Стоп':
  print(n)
  n=input()

Первый
Первый
Второй
Второй
Первый
Первый
Второй
Второй
Стоп

Задание 15

In [ ]:
n=int(input())
count=0
while n>0:
  count+=n
  n=int(input())
print(count)

5
5
-5
10

Задание 16

In [ ]:
def draw_triangle():
 for i in range(1, 8):
  print('*' * i)
draw_triangle()

*
**
***
****
*****
******
*******

Задание 17

In [18]:
def print_fio(name, surname, patronymic):
  print(f"{surname[0].upper()}{name[0].upper()}{patronymic[0].upper()}")
name,surname,patronymic=input(),input(),input()
print_fio(name,surname,patronymic)

алексей
иванов
петрович
ИАП

Задание 18

In [61]:
nums = []

while True:
    num = int(input('Enter num: '))
    nums.append(num)
    if sum(nums) ==0:
        break
sum_nums = 0
for num in nums:
    sum_nums += num ** 2
print(f'Result: {sum_nums}')

Enter num: 2
Enter num: 2
Enter num: -4
Result: 24

Задание 19

In [117]:
def convert_to_miles(km):
 return km * 0.6214
km = int(input("Введите количество километров: "))
miles = convert_to_miles(km)
print(miles)

Введите количество километров: 10
6.2139999999999995

Практика 2.3

Задание 1

In [4]:
n = int(input("Введите натуральное число n: "))
result = list(range(1, n + 1))
print(result)

Введите натуральное число n: 5
[1, 2, 3, 4, 5]

Задание 2

In [3]:
user_ids = [104, 217, 86, 395, 132]
total_users = len(user_ids)
min_max_ids = [min(user_ids), max(user_ids)]
ID_second_user = user_ids[1]
last_user = user_ids[-1]
print("total_users:", total_users)
print("min_max_ids:", min_max_ids)
print("ID_second_user:", ID_second_user)
print("last_user:", last_user)

total_users: 5
min_max_ids: [86, 395]
ID_second_user: 217
last_user: 132

Задание 3

In [5]:
moscow_orders =  [104, 217, 86, 395, 132]
spb_orders = [120, 205, 180, 260, 155]
total_moscow = sum(moscow_orders)
total_spb = sum(spb_orders)
all_orders_desc = sorted(moscow_orders + spb_orders, reverse=True)
max_single_day = max(moscow_orders + spb_orders)
average_moscow = round(sum(moscow_orders) / len(moscow_orders))
had_zero_moscow = 0 in moscow_orders
print("total_moscow:", total_moscow)
print("total_spb:", total_spb)
print("all_orders_desc:", all_orders_desc)
print("max_single_day:", max_single_day)
print("average_moscow:", average_moscow)
print("had_zero_moscow:", had_zero_moscow)

total_moscow: 934
total_spb: 920
all_orders_desc: [395, 260, 217, 205, 180, 155, 132, 120, 104, 86]
max_single_day: 395
average_moscow: 187
had_zero_moscow: False