<a href="https://colab.research.google.com/github/svetlichnayazm-debug/ubiquitous-lamp/blob/main/%D0%9A%D0%BE%D0%BF%D0%B8%D1%8F_%D0%B1%D0%BB%D0%BE%D0%BA%D0%BD%D0%BE%D1%82%D0%B0_%22%D0%9A%D0%BE%D0%BF%D0%B8%D1%8F_%D0%B1%D0%BB%D0%BE%D0%BA%D0%BD%D0%BE%D1%82%D0%B0_%22%D0%9A%D0%BE%D0%BF%D0%B8%D1%8F_%D0%B1%D0%BB%D0%BE%D0%BA%D0%BD%D0%BE%D1%82%D0%B0_%22%D0%9A%D0%BE%D0%BF%D0%B8%D1%8F_%D0%B1%D0%BB%D0%BE%D0%BA%D0%BD%D0%BE%D1%82%D0%B0_%22Untitled10_ipynb%22_ipynb%22%22%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Практика 2.1

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Задание 1

In [ ]:
print("Hello Word")

Hello Word

Задание 2

In [ ]:
print("4","8","15","16","23","42°C")

4 8 15 16 23 42°C

Задание 3

In [ ]:
print('*')
print('**')
print('***')
print('****')
print('*****')
print('******')
print('*******')

*
**
***
****
*****
******
*******

Задание 4

In [ ]:
print('Отчет о доходах')
print('1 квартал: 1200000 руб.')
print('2 квартал: 1350000 руб.')
print('3 квартал: 1280000 руб.')
print('4 квартал: 1420000 руб.')

Отчет о доходах
1 квартал: 1200000 руб.
2 квартал: 1350000 руб.
3 квартал: 1280000 руб.
4 квартал: 1420000 руб.

Задание 5

In [ ]:
patient_name = input()
print('Добро пожаловатьв команду,',patient_name,'!')

Влад
Добро пожаловатьв команду, Влад !

Задание 6

In [ ]:
name=input()
print(name,"-","лидер рынка","!")

ВТБ
ВТБ - лидер рынка !

Задание 7

Задание 8

In [ ]:
name=input()
line=input()
cols=input()
print(name)
print(line)
print(cols)

Sales Q1
1000
8
Sales Q1
1000
8

Заданмк 8

In [ ]:
report3=input()
report2=input()
report1=input()
print(report3)
print(report2)
print(report1)

Отчет за март
Отчет за февраль
Отчет за январь
Отчет за март
Отчет за февраль
Отчет за январь

Задание 9

In [ ]:
new_price=100*1.2
delta=20
print(new_price)
print(delta)

120.0
20

Задание 10

In [ ]:
print("Северный***Центральный***Южный")

Северный***Центральный***Южный

Задание 11

In [ ]:
input=("Влад!")
print("Подключение установлено.Добро пожаловать,Влад!")

Подключение установлено.Добро пожаловать,Влад!

Задание12

In [ ]:

input=("name_ product 1")
input=("name_ product 2")
input=("name_product 3")
print('Молоко',end= '|')
print('Сыр',end='|')
print("Хлеб")

Молоко|Сыр|Хлеб

Задание 13

In [ ]:
str_num = "42.7"
float_num=float(str_num)
integer_num=int(float_num)
print(integer_part)

42

Задание14

In [ ]:
plan = 20
orders_yesterday = 10
deviation1 = abs(orders_yesterday-plan)
print(deviation1)

10

Задание 15

In [ ]:
a=int(input())
b=int(input())
c=int(input())
d=int(input())
e=int(input())

minimum=min(a,b,c,d,e)
maximum=max(a,b,c,d,e)
print('Наименьшее число=',minimum)
print('Наибольшее число=',maximum)

1
2
3
4
5
Наименьшее число= 1
Наибольшее число= 5

Задание 16

In [ ]:
name=input()
name=input()
print("Привет,Антон Иванов! Вы только что начали изучать Python. ")

Антон
Иванов
Привет,Антон Иванов! Вы только что начали изучать Python.

Задание 17

In [ ]:
input("<«Каждый в этой стране должен научиться программировать, ")
input("потому что это учит думать.»")
print("<Каждый в этой стране должен научиться программировать, потому что это учит думать.>" )

<«Каждый в этой стране должен научиться программировать,
потому что это учит думать.»
<Каждый в этой стране должен научиться программировать, потому что это учит думать.>

Задвние 18

In [ ]:
amount=int(input())
print(amount>1000)

999
False

Задание 19

In [ ]:
age = int(input("Введите возраст: "))
if age < 16:
    print("False")
elif age >=18:
    print("True")
else:
    print("False")

Введите возраст: 16
False

In [ ]:
inp=int(input("Введите возраст:"))
print( inp <=16 and inp >=18)

Введите возраст:16
False

Задание 20

In [ ]:
# Ввод данных
S = float(input("Введите объём данных между потоками (МБ): "))
V1 = float(input("Введите скорость первого потока (МБ/ч): "))
V2 = float(input("Введите скорость второго потока (МБ/ч): "))
time = S / (V1 + V2)
print (float(time))

Введите объём данных между потоками (МБ): 500
Введите скорость первого потока (МБ/ч): 50
Введите скорость второго потока (МБ/ч): 70
4.166666666666667

Задание 21

In [ ]:
a=float(input("Введите длину первого катета:"))
b=float(input("Введите длину второго катета:"))
S= (a*b)/2
print(float(S))

Введите длину первого катета:443
Введите длину второго катета:390
86385.0

Задание 22

In [ ]:
F=float(input("Введите действительное числр градусов:"))
C=5/9*(F-32)
print(float(C))

Введите действительное числр градусов:450.55
232.5277777777778

Заданме 23

Практика 2.2

Задание1

In [ ]:
password1 = input("Введите пароль")
password2 = input("Подтвердите пароль")
if password1 == password2:
  print("Пароль принят")
else:
   print("Пароли не совпадают")

Введите пароль qwerty
Подтвердите пароль qwerty
Пароль принят

Задание2

In [ ]:
age = int(input("Возраст пользователя"))
if age >= 18: print("Доступ разрешен")
else: print("Доступ запрещен")

Возраст пользователя16
Доступ запрещен

Задание3

In [ ]:
num1 = int(input(11))
num2 = int(input(8))
if num1 < num2: print(num1)
else: print(num2)

11 11
8 8
8

Задание 4

In [ ]:
a = int(input())
b = int(input())
c = int(input())
if b - a == c - b: print("Да")
else: print("Нет")

1
2
3
Да

Задание 5

In [ ]:
sum_positive = 0
num1 = int(input())
num2 = int(input())
num3 = int(input())
if num1 > 0:
    sum_positive += num1
if num2 > 0:
    sum_positive += num2
if num3 > 0:
    sum_positive += num3
print(sum_positive)

5
4
3
12

Задание 6

In [ ]:
a = int(input())
b = int(input())
c = int(input())
d = int(input())
minimum = a
if b < minimum:
    minimum = b
if c < minimum:
    minimum = c
if d < minimum:
    minimum = d
print(minimum)

5
4
8
1
1

Задание 7

In [ ]:
x=int(input("Введите год:"))
if (x % 4 == 0 and x % 100 != 0)  or (x % 400 == 0): print ("Да")
else: print("Нет")

Введите год:2020
Да

Задание 8

In [ ]:
a = int(input())
b = int(input())
c = int(input())
if (a > b and a < c) or (a < b and a > c): middle =a
elif (b > a and b < c) or (b < a and b > c):middle = b
else: middle = c
print(middle)

1
2
3
2

Задание 9

In [ ]:
for i in range(10) :
    print ("войти в IT с Python")

войти в IT с Python
войти в IT с Python
войти в IT с Python
войти в IT с Python
войти в IT с Python
войти в IT с Python
войти в IT с Python
войти в IT с Python
войти в IT с Python
войти в IT с Python

Задание 10

In [ ]:
n=int(input())
for _ in range(n):
    print("*" * 19)

2
*******************
*******************

Задание 11

In [ ]:
x = input()
for i in range(10):
 print(i,x)

epoche
0 epoche
1 epoche
2 epoche
3 epoche
4 epoche
5 epoche
6 epoche
7 epoche
8 epoche
9 epoche

 Задание 12

In [ ]:
n=int(input())
f1=0
f2=1
for i in range(0, n):
   f1,f2=f2, f1+f2
   print(f1,end=' ')

7
1 1 2 3 5 8 13

Задание 13

In [ ]:
n=int(input())
factorial = 1
for i in range(1, n + 1):
    factorial *= i
    print(factorial)

5
1
2
6
24
120

Задание 14

In [ ]:
n=input()
while n != 'Стоп':
  print(n)
  n=input()

Первый
Первый
Второй
Второй
Стоп

Задание 15

In [ ]:
n=int(input())
count=0
while n>0:
  count+=n
  n=int(input())
print(count)

5
5
-5
10

Задание 16

In [ ]:
def draw_triangle():
 for i in range(1, 8):
  print('*' * i)
draw_triangle()

*
**
***
****
*****
******
*******

Задание 17

In [ ]:
def print_fio(name, surname, patronymic):
  print(f"{surname[0].upper()}{name[0].upper()}{patronymic[0].upper()}")
name,surname,patronymic=input(),input(),input()
print_fio(name,surname,patronymic)

алексей
иванов
петрович
ИАП

Задание 18

In [ ]:
nums = []

while True:
    num = int(input('Enter num: '))
    nums.append(num)
    if sum(nums) ==0:
        break
sum_nums = 0
for num in nums:
    sum_nums += num ** 2
print(f'Result: {sum_nums}')

Enter num: 2
Enter num: 2
Enter num: -4
Result: 24

Задание 19

In [ ]:
def convert_to_miles(km):
 return km * 0.6214
km = int(input("Введите количество километров: "))
miles = convert_to_miles(km)
print(miles)

Введите количество километров: 10
6.2139999999999995

Практика 2.3

Задание 1

In [ ]:
n = int(input("Введите натуральное число n: "))
result = list(range(1, n + 1))
print(result)

Введите натуральное число n: 5
[1, 2, 3, 4, 5]

Задание 2

In [ ]:
user_ids = [104, 217, 86, 395, 132]
total_users = len(user_ids)
min_max_ids = [min(user_ids), max(user_ids)]
ID_second_user = user_ids[1]
last_user = user_ids[-1]
print("total_users:", total_users)
print("min_max_ids:", min_max_ids)
print("ID_second_user:", ID_second_user)
print("last_user:", last_user)

total_users: 5
min_max_ids: [86, 395]
ID_second_user: 217
last_user: 132

Задание 3

In [ ]:
moscow_orders =  [104, 217, 86, 395, 132]
spb_orders = [120, 205, 180, 260, 155]
total_moscow = sum(moscow_orders)
total_spb = sum(spb_orders)
all_orders_desc = sorted(moscow_orders + spb_orders, reverse=True)
max_single_day = max(moscow_orders + spb_orders)
average_moscow = round(sum(moscow_orders) / len(moscow_orders))
had_zero_moscow = 0 in moscow_orders
print("total_moscow:", total_moscow)
print("total_spb:", total_spb)
print("all_orders_desc:", all_orders_desc)
print("max_single_day:", max_single_day)
print("average_moscow:", average_moscow)
print("had_zero_moscow:", had_zero_moscow)

total_moscow: 934
total_spb: 920
all_orders_desc: [395, 260, 217, 205, 180, 155, 132, 120, 104, 86]
max_single_day: 395
average_moscow: 187
had_zero_moscow: False

Задание 4

In [ ]:
events = ["Поиск", "Настройки", "Профиль"]
important_sections = ["Главная", "Каталог"]
events.insert(0, important_sections[0])
events.append(important_sections[1])
events.remove("Профиль")
print(events)

['Главная', 'Поиск', 'Настройки', 'Каталог']

Задание 5

In [ ]:
ratings = [5, 4, 3, 5, 5, 2, 4, 5]
count_fives = ratings.count(5)
share_of_fives = count_fives / len(ratings)
print(f"Количество оценок «5»: {count_fives}")
print(f"Доля оценок «5»: {share_of_fives}")

Количество оценок «5»: 4
Доля оценок «5»: 0.5

Задание 6

In [ ]:
session_durations = [15, 40, 1, 25, 5]
shortest_session = min(session_durations)
session_durations.remove(shortest_session)
session_durations.sort()
max_value = max(session_durations)
session_durations.append(max_value + 10)
session_durations.insert(0, 0)
is_long_session = len(session_durations) > 5
print(f"Самая короткая сессия: {shortest_session}")
print(f"Обновлённый список: {session_durations}")
print(f"Длинная ли сессия? {is_long_session}")

Самая короткая сессия: 1
Обновлённый список: [0, 5, 15, 25, 40, 50]
Длинная ли сессия? True

Задание 7

In [ ]:
n = int(input())
cubes = []
for _ in range(n):
   num = int(input())
   cubes.append(num ** 3)
print(cubes)

5
1
2
3
4
5
[1, 8, 27, 64, 125]

Задание 8

In [ ]:
numbers = (3.1415, 1.8, 1.9, 1.4, 1.161, 1.324)
result = min(numbers) + max(numbers)
print(result)

4.3025

Задание 9

In [ ]:
employee = ('Иванов Иван', 1985, 'Санкт-Петербург')
corrected_employee = (employee[0], employee[1], 'Москва')
print(corrected_employee)

('Иванов Иван', 1985, 'Москва')

Задание 10

In [ ]:
courier = {'name': 'Иван','delivered_orders': 125,'is_active': True}
print(courier)

{'name': 'Иван', 'delivered_orders': 125, 'is_active': True}

Задание 11

In [ ]:
products = { 'стол': 'мебель', 'диван': 'мебель', 'лампа': 'дом', 'холодильник': 'техника' }
is_home = 'дом' in products.values()
print(is_home)

True

Задание 12

In [ ]:
products = { 'стол': 'мебель', 'диван': 'мебель', 'лампа': 'дом', 'холодильник': 'техника' }
categories = list(set(products.values()))
products_number = len(products)
print(categories)
print(products_number)

['техника', 'мебель', 'дом']
4

Задание 13

In [ ]:
products = { 'стол': 'мебель', 'диван': 'мебель', 'лампа': 'дом', 'холодильник': 'техника' }
product_names = sorted(products.keys())
first_product = product_names[0]
print(first_product)
print(product_names)

диван
['диван', 'лампа', 'стол', 'холодильник']

Задание 14

In [ ]:
user_data = { 'orders_count': 4, 'total_spent': 6000 }
if user_data['orders_count'] >= 5 and user_data['total_spent'] >= 10000: priority_status = "Премиум"
elif user_data['orders_count'] >= 3 or user_data['total_spent'] >= 5000: priority_status = "Хороший клиент"
print(priority_status)

Хороший клиент

Задание 15

In [ ]:
text = input().strip()
print(len(set(text)) if text else 0)

analytics
8

Задание 16

In [ ]:
def same_letter_set(word1, word2, word3):
  set1 = set(word1.lower())
  set2 = set(word2.lower())
  set3 = set(word3.lower())
  return set1 == set2 == set3
print("Введите три слова:")
word1 = input("Первое слово: ")
word2 = input("Второе слово: ")
word3 = input("Третье слово: ")
if same_letter_set(word1, word2, word3):
  print("Да, для записи всех трёх слов использован одинаковый набор букв.")
else:
 print("Нет, наборы букв в словах различаются.")

Введите три слова:
Первое слово: abc
Второе слово: cab
Третье слово: bac
Да, для записи всех трёх слов использован одинаковый набор букв.

Задание 17

In [ ]:
input_line = input().strip()
numbers = input_line.split()
seen = set()
for num in numbers:
   if num in seen: print("ДА")
   else:
     print("НЕТ")
     seen.add(num)

1 2 3 4 1
НЕТ
НЕТ
НЕТ
НЕТ
ДА

Задание 18

In [ ]:
n = int(input())
for _ in range(n):
    print(len(set(input().strip().lower())))

2
Андрей
6
123123
3

Практика 2.4

Задание 1

In [ ]:
import pandas as pd
import numpy as np

data = {
    'сотрудник': ['Алина', 'Борис', 'Владимир', 'Дарья', 'Егор', 'Федор',
    'Галина', 'Наталья', 'Игорь', 'Юлия'],
    'отдел': ['Аналитика', 'Аналитика', 'Маркетинг', 'Аналитика', 'Маркетинг',
             'Аналитика', 'Маркетинг', 'Аналитика', 'Маркетинг', 'Аналитика'],
            'проект_баллы': [85, 92, 78, np.nan, 88, 75, 95, np.nan, 82, 90],
            'выполнено_задач': [5, 7, 6, 7, 5, 6, 8, 4, 5, 7],
    'пройдено_тест': ['да', 'да', 'нет', 'да', 'да', 'нет', 'да', 'нет', 'да',
                                                                       'да']}


labels = ['с1','с2','с3','с4','с5','с6','с7','с8','с9','с10']


df_sotrudniki = pd.DataFrame(data, index=labels)
df_sotrudniki

    сотрудник      отдел  проект_баллы  выполнено_задач пройдено_тест
с1      Алина  Аналитика          85.0                5            да
с2      Борис  Аналитика          92.0                7            да
с3   Владимир  Маркетинг          78.0                6           нет
с4      Дарья  Аналитика           NaN                7            да
с5       Егор  Маркетинг          88.0                5            да
с6      Федор  Аналитика          75.0                6           нет
с7     Галина  Маркетинг          95.0                8            да
с8    Наталья  Аналитика           NaN                4           нет
с9      Игорь  Маркетинг          82.0                5            да
с10      Юлия  Аналитика          90.0                7            да

Задание 2

In [ ]:
df_sotrudniki.head(3)

   сотрудник      отдел  проект_баллы  выполнено_задач пройдено_тест
с1     Алина  Аналитика          85.0                5            да
с2     Борис  Аналитика          92.0                7            да
с3  Владимир  Маркетинг          78.0                6           нет

Задание 3

In [ ]:
import pandas as pd
import numpy as np

data = {
 'сотрудник': ['Алина', 'Борис', 'Владимир', 'Дарья', 'Егор', 'Федор',
'Галина', 'Наталья', 'Игорь', 'Юлия'],
 'отдел': ['Аналитика', 'Аналитика', 'Маркетинг', 'Аналитика', 'Маркетинг',
'Аналитика', 'Маркетинг', 'Аналитика', 'Маркетинг', 'Аналитика'],
 'проект_баллы': [85, 92, 78, np.nan, 88, 75, 95, np.nan, 82, 90],
 'выполнено_задач': [5, 7, 6, 7, 5, 6, 8, 4, 5, 7],
 'пройдено_тест': ['да', 'да', 'нет', 'да', 'да', 'нет', 'да', 'нет', 'да',
'да']}

labels = ['с1','с2','с3','с4','с5','с6','с7','с8','с9','с10']

df_sotrudniki = pd.DataFrame(data, index=labels)
df_sotrudniki
result = df_sotrudniki.loc[['с4', 'с5', 'с9'], ['сотрудник', 'проект_баллы']]
print(result)

   сотрудник  проект_баллы
с4     Дарья           NaN
с5      Егор          88.0
с9     Игорь          82.0

Задание 4

In [ ]:
result = df_sotrudniki[df_sotrudniki['выполнено_задач'] > 6]
print(result)

    сотрудник      отдел  проект_баллы  выполнено_задач пройдено_тест
с2      Борис  Аналитика          92.0                7            да
с4      Дарья  Аналитика           NaN                7            да
с7     Галина  Маркетинг          95.0                8            да
с10      Юлия  Аналитика          90.0                7            да

Задание 5

In [ ]:
df_sotrudniki.loc['с6', 'проект_баллы'] = 80
print(df_sotrudniki)

    сотрудник      отдел  проект_баллы  выполнено_задач пройдено_тест
с1      Алина  Аналитика          85.0                5            да
с2      Борис  Аналитика          92.0                7            да
с3   Владимир  Маркетинг          78.0                6           нет
с4      Дарья  Аналитика           NaN                7            да
с5       Егор  Маркетинг          88.0                5            да
с6      Федор  Аналитика          80.0                6           нет
с7     Галина  Маркетинг          95.0                8            да
с8    Наталья  Аналитика           NaN                4           нет
с9      Игорь  Маркетинг          82.0                5            да
с10      Юлия  Аналитика          90.0                7            да

Задание 6

In [ ]:
total_tasks = df_sotrudniki['выполнено_задач'].sum()
print(total_tasks)

60

Задание 7

In [ ]:
средние_баллы = df_sotrudniki.groupby('отдел')['проект_баллы'].mean()
print(средние_баллы)

отдел
Аналитика    86.75
Маркетинг    85.75
Name: проект_баллы, dtype: float64

Задание 8

In [ ]:
df_sorted = df_sotrudniki.sort_values(
      by=['проект_баллы', 'выполнено_задач'],
          ascending=[False, True])

print(df_sorted)

    сотрудник      отдел  проект_баллы  выполнено_задач пройдено_тест
с7     Галина  Маркетинг          95.0                8            да
с2      Борис  Аналитика          92.0                7            да
с10      Юлия  Аналитика          90.0                7            да
с5       Егор  Маркетинг          88.0                5            да
с1      Алина  Аналитика          85.0                5            да
с9      Игорь  Маркетинг          82.0                5            да
с6      Федор  Аналитика          80.0                6           нет
с3   Владимир  Маркетинг          78.0                6           нет
с8    Наталья  Аналитика           NaN                4           нет
с4      Дарья  Аналитика           NaN                7            да

Задание 9

In [ ]:
df_sotrudniki['пройдено_тест'] = df_sotrudniki['пройдено_тест'].map({'да': True, 'нет': False})
print(df_sotrudniki)

    сотрудник      отдел  проект_баллы  выполнено_задач  пройдено_тест
с1      Алина  Аналитика          85.0                5           True
с2      Борис  Аналитика          92.0                7           True
с3   Владимир  Маркетинг          78.0                6          False
с4      Дарья  Аналитика           NaN                7           True
с5       Егор  Маркетинг          88.0                5           True
с6      Федор  Аналитика          80.0                6          False
с7     Галина  Маркетинг          95.0                8           True
с8    Наталья  Аналитика           NaN                4          False
с9      Игорь  Маркетинг          82.0                5           True
с10      Юлия  Аналитика          90.0                7           True

Задание 10

In [9]:
from sklearn.datasets import fetch_california_housing
import pandas as pd

# Загружаем встроенный датасет
california = fetch_california_housing()

# Создаём DataFrame из признаков
df_california = pd.DataFrame(california.data, columns=california.feature_names)

# Добавляем целевую переменную (стоимость домов) в DataFrame
df_california['MedHouseVal'] = california.target

# Выводим общую информацию о датасете
print("Размер датасета:", df_california.shape)
print("\nНазвания признаков:")
print(df_california.columns.tolist())

print("\nОбщая информация о датасете:")
print(df_california.info())

print("\nПервые 5 строк датасета:")
print(df_california.head())

print("\nСтатистические характеристики признаков:")
print(df_california.describe())

Размер датасета: (20640, 9)

Названия признаков:
['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'Population', 'AveOccup', 'Latitude', 'Longitude', 'MedHouseVal']

Общая информация о датасете:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MedInc       20640 non-null  float64
 1   HouseAge     20640 non-null  float64
 2   AveRooms     20640 non-null  float64
 3   AveBedrms    20640 non-null  float64
 4   Population   20640 non-null  float64
 5   AveOccup     20640 non-null  float64
 6   Latitude     20640 non-null  float64
 7   Longitude    20640 non-null  float64
 8   MedHouseVal  20640 non-null  float64
dtypes: float64(9)
memory usage: 1.4 MB
None

Первые 5 строк датасета:
   MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup  Latitude  \
0  8.3252      41.0  6.984127   1.023810       322.0  2.555556     37.88
1  8.3014      21.0  6.238137   0.971880      2401.0  2.109842     37.86
2  7.2574      52.0  8.288136   1.073446       496.0  2.802260     37.85
3  5.6431      52.0  5.817352   1.073059       558.0  2.547945     37.85
4  3.8462      52.0  6.281853   1.081081       565.0  2.181467     37.85

   Longitude  MedHouseVal
0    -122.23        4.526
1    -122.22        3.585
2    -122.24        3.521
3    -122.25        3.413
4    -122.25        3.422

Статистические характеристики признаков:
             MedInc      HouseAge      AveRooms     AveBedrms    Population  \
count  20640.000000  20640.000000  20640.000000  20640.000000  20640.000000
mean       3.870671     28.639486      5.429000      1.096675   1425.476744
std        1.899822     12.585558      2.474173      0.473911   1132.462122
min        0.499900      1.000000      0.846154      0.333333      3.000000
25%        2.563400     18.000000      4.440716      1.006079    787.000000
50%        3.534800     29.000000      5.229129      1.048780   1166.000000
75%        4.743250     37.000000      6.052381      1.099526   1725.000000
max       15.000100     52.000000    141.909091     34.066667  35682.000000

           AveOccup      Latitude     Longitude   MedHouseVal
count  20640.000000  20640.000000  20640.000000  20640.000000
mean       3.070655     35.631861   -119.569704      2.068558
std       10.386050      2.135952      2.003532      1.153956
min        0.692308     32.540000   -124.350000      0.149990
25%        2.429741     33.930000   -121.800000      1.196000
50%        2.818116     34.260000   -118.490000      1.797000
75%        3.282261     37.710000   -118.010000      2.647250
max     1243.333333     41.950000   -114.310000      5.000010

Задание 11

In [12]:
from sklearn.datasets import fetch_california_housing
import pandas as pd
california = fetch_california_housing()
df = pd.DataFrame(california.data, columns=california.feature_names)
target_df = pd.DataFrame(california.target, columns=['median_house_value'])
df_combined = pd.concat([df, target_df], axis=1)

print(df_combined.head())

   MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup  Latitude  \
0  8.3252      41.0  6.984127   1.023810       322.0  2.555556     37.88
1  8.3014      21.0  6.238137   0.971880      2401.0  2.109842     37.86
2  7.2574      52.0  8.288136   1.073446       496.0  2.802260     37.85
3  5.6431      52.0  5.817352   1.073059       558.0  2.547945     37.85
4  3.8462      52.0  6.281853   1.081081       565.0  2.181467     37.85

   Longitude  median_house_value
0    -122.23               4.526
1    -122.22               3.585
2    -122.24               3.521
3    -122.25               3.413
4    -122.25               3.422

Задание 12

In [13]:
from sklearn.datasets import fetch_california_housing
import pandas as pd

california = fetch_california_housing()
df_california = pd.DataFrame(california.data, columns=california.feature_names)
df_california.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   MedInc      20640 non-null  float64
 1   HouseAge    20640 non-null  float64
 2   AveRooms    20640 non-null  float64
 3   AveBedrms   20640 non-null  float64
 4   Population  20640 non-null  float64
 5   AveOccup    20640 non-null  float64
 6   Latitude    20640 non-null  float64
 7   Longitude   20640 non-null  float64
dtypes: float64(8)
memory usage: 1.3 MB

Задание 13

In [14]:
print(df_california.isna().sum())

MedInc        0
HouseAge      0
AveRooms      0
AveBedrms     0
Population    0
AveOccup      0
Latitude      0
Longitude     0
dtype: int64

Задание 14

In [15]:
result = df_california.loc[(df_california['HouseAge'] > 50) & (df_california['Population'] > 2500)]
print(result)

       MedInc  HouseAge  AveRooms  AveBedrms  Population    AveOccup  \
460    1.4012      52.0  3.105714   1.060000      3337.0    9.534286
4131   3.5349      52.0  4.646119   1.047945      2589.0    5.910959
4440   2.6806      52.0  4.806283   1.057592      3062.0    4.007853
5986   1.8750      52.0  4.500000   1.206349      2688.0   21.333333
7369   3.1901      52.0  4.730942   1.017937      3731.0    4.182735
8227   2.3305      52.0  3.488860   1.170380      3018.0    3.955439
13034  6.1359      52.0  8.275862   1.517241      6675.0  230.172414
15634  1.8295      52.0  2.628169   1.053521      2957.0    4.164789
15652  0.9000      52.0  2.237474   1.053535      3260.0    2.237474
15657  2.5166      52.0  2.839075   1.184049      3436.0    1.621520
15659  1.7240      52.0  2.278566   1.082348      4518.0    1.780142
15795  2.5755      52.0  3.402576   1.058776      2619.0    2.108696
15868  2.8135      52.0  4.584329   1.041169      2987.0    3.966799

       Latitude  Longitude
460       37.87    -122.26
4131      34.13    -118.20
4440      34.08    -118.21
5986      34.10    -117.71
7369      33.97    -118.21
8227      33.78    -118.20
13034     38.69    -121.15
15634     37.80    -122.41
15652     37.80    -122.41
15657     37.79    -122.41
15659     37.79    -122.41
15795     37.77    -122.42
15868     37.76    -122.41

Задание 15

In [18]:
from sklearn.datasets import fetch_california_housing
import pandas as pd

# Загружаем встроенный датасет
california = fetch_california_housing()

# Создаём DataFrame из признаков
df_california = pd.DataFrame(california.data, columns=california.feature_names)

# Добавляем целевую переменную (медианная стоимость дома) в DataFrame
df_california['MedHouseVal'] = california.target

# Находим минимальное и максимальное значения медианной стоимости
min_value = df_california['MedHouseVal'].min()
max_value = df_california['MedHouseVal'].max()

print(f"Минимальное значение медианной стоимости дома: {min_value}")
print(f"Максимальное значение медианной стоимости дома: {max_value}")

Минимальное значение медианной стоимости дома: 0.14999
Максимальное значение медианной стоимости дома: 5.00001